

.wrapper {
    width: 970px;
    margin: 30px auto 40px;
    overflow: hidden;
    
    /* common */
    .heading{
       padding: 10px 12px;
       background: url('../standard-layout/images/bg-slash.gif');
       letter-spacing: 1px;
       font-size: 1.6rem;
   }
    
    @import "wrapperMain";
    
    @import "wrapperSide";
    
}