$item_backgroudColor: #fff;
$item_CategoryColor: #aaa;
$item_itemColor: #777;

$item_Maindish: #FFC0CB;
$item_Appetizer: #76C047;
$item_Column: #FFF100;
$item_Breaktime: #C1EFFF;

$item_m: 364px;
$item_l: 732px;

// 各アイテムの入れ物を作成
.item {
    // 写真の幅は固定長
    width: 180px;
    margin-bottom: 4px;
    padding: 8px;
    border-bottom: 3px solid;
    border-radius: 5px;
    background-color: $item_backgroudColor;
    
    .image {
        display: block;
        width: 100%;
        height: 109px;
    }
    
    .category {
        margin: 15px 9px 10px;
        color: $item_CategoryColor;
        letter-spacing: 1px;
        font-family:"Trebuchet MS","Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    
        &::before {
            content:' ';
            display: inline-block;
            width: 19px;
            height: 19px;
            margin-right: 5px;
            border: 2px solid;
            border-radius: 50%;
            vertical-align: -5px;
        }
    }
    
    .description {
        margin: 10px;
        line-height: 1.5;
    }
    
    // ボックスの枠とあanchorタグの枠を合わせる
    & > a {
            display: block;
            margin: -8px -8px -11px; // 枠をネガティブマージする
            padding: 8px 8px 11px; // 見た目を元に戻す
            border-radius: inherit;
            color: $item_itemColor;
            transition: all 0.3s;
        
        // 押下時に押下対象を薄くする
        &:hover {
            box-shadow: 0 0 6px -1px rgba(0,0,0,0.3);
            opacity: 0.8;
        }
    }
    
}

// itemの装飾
.item-maindish {
    border-color: $item_Maindish;
    .category {
        &::before {
            border-color: $item_Maindish;
        }
    }
}

.item-apptizer {
    border-color: $item_Appetizer;
    .category {
        &::before {
            border-color: $item_Appetizer;
        }
    }
}

.item-column {
    border-color: $item_Column;
    .category {
        &::before {
            border-color: $item_Column;
        }
    }
}

.item-breaktime {
    border-color: $item_Breaktime;
    .category {
        &::before {
            border-color: $item_Breaktime;
        }
    }
}


/*
itemの大きさについて、
小ベース(幅)：180px
中ベース：(180px*2) + 4px(gutterの幅) = 364px
大ベーズ：(364px*2) + 4px(gutterの幅) = 732px
*/

.item-m{
    width: $item_m;
    & .image {
        height: 146px;
    }
}

.item-l{
    width: $item_l;
    & .image {
        height: 403px;
    }
}